openapi: 3.2.0
info:
  title: ecobee Group API
  description: The ecobee API is a REST-like JSON interface for reading and controlling registered ecobee smart thermostats and connected home devices.
  version: '1.0'
  contact:
    name: ecobee Developer
    url: https://www.ecobee.com/home/developer/api/introduction/index.shtml
servers:
- url: https://api.ecobee.com/1
  description: ecobee API data plane (v1)
- url: https://api.ecobee.com
  description: ecobee OAuth 2.0 authorization host (authorize / token)
security:
- bearerAuth: []
tags:
- name: Group
  description: Group registered thermostats.
paths:
  /group:
    get:
      operationId: getGroups
      tags:
      - Group
      summary: Get groups
      description: Retrieves the Group and grouping data for the thermostats registered to the user. Accessible by Smart accounts only.
      parameters:
      - name: json
        in: query
        required: true
        description: URL-encoded JSON request containing a `selection` object.
        schema:
          type: string
      responses:
        '200':
          description: The groups registered to the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: updateGroups
      tags:
      - Group
      summary: Update groups
      description: Creates or updates the grouping of the user's thermostats. Accessible by Smart accounts only.
      parameters:
      - name: format
        in: query
        required: true
        description: Response format. Always `json`.
        schema:
          type: string
          default: json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
      responses:
        '200':
          description: A Status object and the updated groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    GroupResponse:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        status:
          $ref: '#/components/schemas/Status'
    StatusResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
    Selection:
      type: object
      description: Determines which thermostats and which sub-objects are returned or acted upon.
      required:
      - selectionType
      properties:
        selectionType:
          type: string
          enum:
          - registered
          - thermostats
          - managementSet
          description: How to interpret selectionMatch.
        selectionMatch:
          type: string
          description: Comma-separated thermostat identifiers, a management set path, or an empty string for all registered thermostats.
        includeRuntime:
          type: boolean
        includeSettings:
          type: boolean
        includeEvents:
          type: boolean
        includeSensors:
          type: boolean
        includeEquipmentStatus:
          type: boolean
        includeAlerts:
          type: boolean
        includeProgram:
          type: boolean
    Status:
      type: object
      description: Standard ecobee response status.
      properties:
        code:
          type: integer
          description: The status code (0 indicates success).
        message:
          type: string
    Group:
      type: object
      properties:
        groupRef:
          type: string
        groupName:
          type: string
        thermostats:
          type: array
          items:
            type: string
        synchronizeSystemMode:
          type: boolean
        synchronizeVacation:
          type: boolean
    GroupRequest:
      type: object
      required:
      - selection
      - groups
      properties:
        selection:
          $ref: '#/components/schemas/Selection'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
  responses:
    Unauthorized:
      description: Missing, invalid, or expired access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token passed as `Authorization: Bearer ACCESS_TOKEN` on all data-plane requests to https://api.ecobee.com/1.'
